{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="contentbox">
    <h1>{{username}} - Profile Edit</h1>
    <form method="POST" action="save_profile">
        {% csrf_token %}
        <div class="guildbox">
            <table>
                <tr>
                    <th>Character Name</th>
                    <th>Class</th>
                    <th>iLevel</th>
                </tr>
                {% for character in characters %}
                <tr>
                    <td>{{character.name}}</td>
                    <td>
                        <img class="classicon" src="static/img/classes/{{character.character_class.name}}.png" />
                        {{character.character_class.name}}
                    </td>
                    <td><input id="c_{{character.id}}" name="c_{{character.id}}" type="textbox" value="{{character.ilevel}}" step="any" /></td>
                </tr>
                {% endfor %}

            </table>
            <br/>
            <div class="split">
                <a class="btn btn-danger" onclick="window.location.href='{% url 'index' %}'">Return</a>
                <button class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}